.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
    padding: 3rem 0 3rem;
}


.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop {
    margin-bottom: 2rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 2rem;
}

.product-box {
    position: relative;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid black;
    transition: 0.4s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    background: black;
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(0, 0%, 32%);
}

@media (max-width: 1080px) {

    section {
        padding: 3rem 0 2rem;
    }

    .container {
        margin: 0 auto;
        width: 90%;
    }

    .shop {
        margin-top: 2rem !important;
    }
}


@media (max-width: 360px) {
    .shop {
        margin-top: 1rem !important;
    }

}