.materiale {
    margin: 0;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 50px 35px;
    border-radius: 20px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.card h5 {
    font-weight: 600;
    margin-bottom: 15px;
}

.card li {
    color: rgb(106, 106, 106);
    font-weight: 300;
}

.card span {
    color: black;
    font-weight: 500;
}